 body {
        background-image: url(im.jpg);
        background-size: cover;
        background-position: center;
        background-color: rgb(24, 27, 28);
    }
    
    h1 {
    color: white;
    text-align: center;
    font-size: 45;
    background-color: #3904aa; 
    }
    
    h2{
        color: black;
        text-align: center;
        background-color: azure;
        
    }
    h3{
        color: black;
        text-align: left;
        font-size: 30px;
    }
    h4{
        color: black;
        text-align: left;
        font-size: 20px;
        background-color: aqua;
    }
    p {
    font-family: cursive;
    font-size: 17px;
   
    }
    
